.service-card-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px 24px 24px 24px;
    font-family: var(--heebo-font);
}
.service-card-container img{
    width: 42px;
    margin-bottom: 8px;
}
.service-card-container .title{
    margin: 8px 0;
    font-size: 20px;
    font-weight: 700;
}
.service-card-container .description{
    color: #666565;
}
@media screen and (min-width: 575px) {
    .service-card-container {
        max-width: 45%;
    }
}
@media screen and (min-width: 990px) {
    .service-card-container {
        max-width: 23%;
    }
}