.menu-section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #f1f1f1;
}
.menu-section-container .menu-section-selector{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #ddd;
    padding: 16px 24px;
    margin: 40px 0;
    width: 100%;
    gap: 0 24px;
}
.menu-section-container .menu-section-selector .selector{
    display: flex;
    flex-direction: row;
    /* min-width: 150px; */
    cursor: pointer;
}
.menu-section-container .menu-section-selector .selector img{
    width: 35px;
    margin-right: 16px;
}
.menu-section-container .menu-section-selector .selector p{
    width: 40px;
    font-family: var(--heebo-font);
    font-weight: 400;
}
.menu-section-container .menu-section-selector .selector p span{
    font-weight: 800;
    color: #0F172B;    
    font-family: var(--nunito-font);
}


.menu-section-container .menu-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 24px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu-section-container .menu-items .item{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu-section-container .menu-items .item div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    padding: 8px 0;
}
.menu-section-container .menu-items .item div .item-name{
    font-family: var(--nunito-font);
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.2;
}
.menu-section-container .menu-items .item div .item-price{
    font-family: var(--nunito-font);
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--primary-color);
}
.menu-section-container .menu-items .item .item-desc{
    margin-top: 8px;
    font-family: var(--heebo-font);
    font-size: 14px;
    color: var(--grey);
}

.active {
    border-bottom: 2px solid var(--primary-color);
}