.about-section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 80px;
    padding-bottom: 48px;
}
.about-section-container .left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
}
.about-section-container .left .first,
.about-section-container .left .second,
.about-section-container .left .third,
.about-section-container .left .fourth{
    width: 45%;
}
.about-section-container .left .first img,
.about-section-container .left .second img,
.about-section-container .left .third img,
.about-section-container .left .fourth img{
    width: 100%;
}
.about-section-container .left .second {
    text-align: left;
    display: flex;
    align-items: end;
}
.about-section-container .left .third {
    text-align: right;
}
.about-section-container .left .second img,
.about-section-container .left .third img{
    max-width: 75%;
    flex: 0 0 auto;
}
.about-section-container .right{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-section-container .right .section-name{
   color: var(--primary-color);
   font-family: var(--pacifico-font);
   font-size: 20px;
   display: flex;
   align-items: center;
}
.about-section-container .right .section-title{
    color: var(--black);
    font-family: var(--nunito-font);
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 800;
    margin-bottom: 24px;
 }
 .about-section-container .right .section-title img{
    width: 30px;
    margin: 0 8px;
 }
 .about-section-container .right .description{
    color: var(--grey);
    font-family: var(--heebo-font);
    margin-bottom: 24px;
 }
 
 .about-section-container .right .stats{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 24px;
 }

  .about-section-container .right .stats .stat-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid var(--primary-color);
    padding: 0 16px;
    max-width: fit-content;
    margin-bottom: 24px;
  }
  .about-section-container .right .stats .stat-element .num{
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 800;
    line-height: 1.2;
    font-family: var(--nunito-font);
    color: var(--primary-color);
    margin-right: 24px;
  }
  .about-section-container .right .stats .stat-element p{
    line-height: 1.2;
    font-family: var(--heebo-font);
  }
  .about-section-container .right .stats .stat-element p span{
    line-height: 1.2;
    font-family: var(--nunito-font);
    text-transform: uppercase;
    font-weight: 800;
  }
  .about-section-container .right .read-more-btn{
    background-color: var(--primary-color);
    font-family: var(--nunito-font);
    padding: 16px 48px;
    max-width: fit-content;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: .7s;
  }
  .about-section-container .right .read-more-btn:hover{
    background-color: var(--yellow);
  }

  @media screen and (min-width: 575px){

    .about-section-container .right .stats{
      flex-direction: row;
    }
   
     .about-section-container .right .stats .stat-element{
       margin-bottom: 0;
     }
  }

  @media screen and (min-width: 990px){
    .about-section-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .about-section-container .left{
        width: 50%;
        margin-right: 24px;
    }
    .about-section-container .right{
        width: 50%;
    }
  }
