@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

:root {
  /* fonts */
  --pacifico-font: "Pacifico", cursive;
  --heebo-font: "Heebo", sans-serif;
  --nunito-font: "Nunito", sans-serif;
  /* colors */
  --primary-color: #FEA116;
  --secondary-color: #0F172B;
  /* useful tertiary colors */
  --black: #000;
  --white: #fff;
  --grey: #666565;
  --yellow: #ffc107;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.mb-16 {
  margin-bottom: 16px;
}
.text-line {
  width: 50px;
  background-color: var(--primary-color);
  height: 2px;
  margin: 0 8px;
}
.responsive-padding {
  padding: 0 24px;
}
@media screen and (min-width: 575px){
  .responsive-padding {
    padding: 0 48px;
  }
}
@media screen and (min-width: 768px){
  .responsive-padding {
    padding: 0 60px;
  }
}
@media screen and (min-width: 990px){
  .responsive-padding {
    padding: 0 80px;
  }
}
/* @media screen and (min-width: 1200px){
  .responsive-padding {
    padding: 0 auto;
  }
} */